* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

header {
  grid-area: header;
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(15, 15, 15, 0.15); }
  header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
    font-weight: bold;
    font-size: 26px;
    white-space: nowrap;
    margin-right: 10%; }
    header nav ul li a {
      text-decoration: none;
      transition: 0s;
      color: black; }
      header nav ul li a:hover {
        border-bottom: solid 2px black;
        text-shadow: -2px 1px 10px black; }

.active {
  border-bottom: solid 2px black; }

body {
  background-image: url(../assets/img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 80px;
  grid-template-areas: "header" "main" "footer"; }

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

main img {
  border: solid 1px black; }

main section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: auto; }

main section article {
  width: 25%; }

main h1 {
  font-size: 80px;
  font-weight: bold; }

main p.slogan {
  font-size: 24px;
  font-weight: normal; }

main article {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  align-content: center;
  justify-items: center; }

main .figure1 img {
  height: 450px;
  width: 450px;
  scale: 1;
  transition: all 0.3s ease; }

main .figure1 {
  position: relative;
  overflow: hidden;
  width: auto;
  height: auto; }

@media (min-width: 1200px) {
  main .figure1::after {
    content: "Tratamientos";
    position: absolute;
    bottom: 5%;
    left: 25%;
    font-size: 40px;
    font-weight: bold;
    transition: all 0.3s ease;
    transform: scale(0); }
  main .figure1:hover::after {
    bottom: 5%;
    transform: scale(1); }
  main .figure1 img:hover {
    transform: scale(1);
    border: solid 5px black;
    border-radius: 5px; } }

.main-tratamientos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  gap: 4px;
  margin: 8px 0px; }

.main-tratamientos figure img {
  width: 250px;
  height: 180px; }

.main-tratamientos article p {
  width: 650px;
  font-size: 18px;
  text-align: left; }

.main-tratamientos .article2 figure, .main-tratamientos .article4 figure {
  order: 2; }

.main-tratamientos .article2 p, .main-tratamientos .article4 p {
  order: 1;
  text-align: right; }

/* final css main-tratamientos */
/* inicio css main-quienes somos */
.main-quienes-somos {
  display: flex;
  justify-content: space-around;
  flex-direction: column; }

.section-quienes-somos {
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 5%; }

.img-nosotros {
  width: 400px;
  height: 300px;
  border-radius: 40px 5px 40px 5px; }

.desc-nosotros {
  font-size: 40px;
  text-align: justify;
  width: 600px;
  height: auto; }

.text-creemos {
  flex-direction: column; }

.text-creemos h3 {
  font-size: 40px;
  font-weight: bold; }

.text-creemos p {
  width: 1100px;
  font-size: 20px; }

.objetivos div {
  width: 250px; }

.objetivos h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: center; }

.objetivos p {
  font-size: 20px;
  text-align: justify; }

/* final css main-quienes-somos */
/* inicio css main-promo */
.main-promo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.promo1 {
  justify-content: center;
  gap: 5%; }

.promo1 p {
  font-size: 25px;
  font-weight: bold;
  width: 540px;
  text-align: center; }

.promo2, .promo3, .mercadopago {
  width: auto;
  height: auto;
  position: relative; }

.promo2::after {
  content: "2 x 1 todos los martes pagando en EFECTIVO";
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  height: auto;
  width: auto;
  margin: 3px;
  bottom: 5%;
  left: 50%;
  text-align: center;
  text-shadow: 2px 2px 2px white;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 10px; }

.promo3::after {
  content: "Si sos socio del club Los Andes, presentando tu carnet 30% de descuento!";
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  height: auto;
  width: auto;
  margin: 3px;
  bottom: 5%;
  text-align: center;
  text-shadow: 2px 2px 2px white;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 10px; }

.promo2 img, .promo3 img {
  border-radius: 5px; }

/* final css main-promo */
/* inicio css main-contactame */
.main-contactame {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.main-contactame h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center; }

.me-direccion {
  width: 400px;
  height: 512px; }

.me-direccion p {
  font-size: 30px;
  font-weight: normal;
  margin-top: 10px; }

.main-form {
  display: flex;
  justify-content: center;
  gap: 5%; }

.input-text {
  font-size: 20px;
  text-indent: 5px;
  width: 500px;
  height: 45px;
  padding: 5px;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: left;
  border: solid 1px black; }

.main-form textarea {
  min-height: 200px;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: left;
  border: solid 1px black;
  resize: none; }

.send-button {
  border: solid 1px black;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  width: 200px;
  height: 45px;
  display: block;
  margin-top: 10px; }

.send-button:hover {
  background-color: #aaeeaa;
  font-size: 22px;
  border: solid 2px black; }

.input-text::placeholder {
  font-size: 20px;
  opacity: 0.7;
  text-align: left;
  text-indent: 5px; }

footer {
  grid-area: footer;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: rgba(15, 15, 15, 0.15);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "newsletter social copyright"; }
  footer .newsletter {
    grid-area: newsletter;
    justify-self: center; }
    footer .newsletter .form-footer {
      width: 100px;
      height: 30px;
      border-radius: 5px 0px 0px 5px;
      border: solid 1px black;
      transition: 0.2s;
      text-indent: 5px; }
      footer .newsletter .form-footer:focus {
        width: 220px; }
    footer .newsletter .send-button-footer {
      text-align: center;
      font-size: 20px;
      cursor: pointer; }
      footer .newsletter .send-button-footer:hover {
        text-shadow: -2px 1px 10px black; }
  footer .social {
    grid-area: social;
    justify-self: center; }
    footer .social ul {
      display: flex;
      list-style: none;
      justify-content: center;
      gap: 50%; }
      footer .social ul a {
        text-decoration: none;
        transform: scale(1);
        transition: all 0.2s; }
        footer .social ul a img:hover {
          transform: scale(1.2);
          filter: invert(90%); }
  footer .copyright {
    grid-area: copyright;
    justify-self: center;
    font-size: 18px; }

/* Media para index */
@media screen and (max-width: 1300px) {
  .header nav ul {
    padding: 5px;
    gap: 10px;
    margin-right: 10px;
    font-size: 16px; }
  main h1 {
    text-align: center; }
  main p.slogan {
    font-size: 20px;
    font-weight: normal;
    text-align: center; }
  body header div {
    transform: scale(0.75); }
  .art-fig {
    width: 100px;
    height: 100px;
    display: block; }
  .art-text {
    font-size: 12px; }
  .figure1 {
    transform: scale(0.6); }
  main article {
    gap: 25px; }
  .social ul li {
    transform: scale(0.75); }
  .social ul {
    width: 200px; }
  .newsletter {
    display: none; }
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "social copyright"; } }

@media screen and (max-width: 900px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
    height: 140px;
    padding-bottom: 10px; }
  .figure1 {
    transform: scale(0.5); }
  main h1 {
    font-size: 50px;
    text-align: center; }
  main p.slogan {
    font-size: 16px;
    font-weight: normal;
    text-align: center; }
  .art-fig {
    width: 100px;
    height: 100px;
    margin: 15px; }
  .art-text {
    font-size: 12px; }
  main section article {
    width: 80%; }
  .sector2 {
    display: flex;
    flex-direction: column; }
  .sector2 article {
    margin-bottom: 10px; }
  body {
    background-repeat: repeat-y; }
  .social ul li {
    transform: scale(0.75); }
  .social ul {
    width: 200px; }
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "social" "copyright"; } }

@media screen and (max-width: 600px) {
  body header div {
    transform: scale(1); }
  .header {
    justify-content: start;
    flex-wrap: nowrap; }
  .header nav ul {
    flex-direction: column; }
  .active {
    border: none; }
  .sector1 {
    flex-direction: column;
    margin-bottom: -100px; }
  main h1 {
    margin-top: 20px; }
  main p.slogan {
    margin-bottom: 10px; }
  main .figure1 {
    margin-top: -100px; }
  main article {
    gap: 10px; }
  section.setor1 {
    margin-bottom: -100px; } }

/* Media para tratamientos */
@media screen and (max-width: 1300px) {
  .main-tratamientos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 4px;
    margin: 8px 0px; }
  .main-tratamientos figure img {
    width: 150px;
    height: auto; }
  .main-tratamientos article p {
    width: 650px;
    font-size: 14px;
    text-align: left; } }

@media screen and (max-width: 900px) {
  .main-tratamientos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: stretch;
    gap: 4px;
    margin-top: 35px; }
  .main-tratamientos figure img {
    width: 150px;
    height: auto; }
  .main-tratamientos article p {
    height: 150px;
    width: 650px;
    font-size: 12px;
    text-align: left; } }

@media screen and (max-width: 600px) {
  .main-tratamientos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: stretch;
    gap: 4px;
    margin-top: 35px; }
  .main-tratamientos figure img {
    width: 150px;
    height: auto; }
  .main-tratamientos article p {
    height: 150px;
    width: 650px;
    font-size: 14px;
    text-align: center; }
  .main-tratamientos article {
    flex-direction: column; }
  .main-tratamientos .article2 figure, .main-tratamientos .article4 figure {
    order: 1; }
  .main-tratamientos .article2 p, .main-tratamientos .article4 p {
    order: 2;
    text-align: center; } }
