@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  grid-area: header;
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(15, 15, 15, 0.15); }
  header div {
    margin-left: 10%; }
  header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
    font-weight: bold;
    font-size: 26px;
    white-space: nowrap;
    margin-right: 10%; }
    header nav ul li a {
      text-decoration: none;
      transition: 0s;
      color: black; }
      header nav ul li a:hover {
        border-bottom: solid 2px black;
        text-shadow: -2px 1px 10px black; }

.active {
  border-bottom: solid 2px black; }

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url(../assets/img/fondo.png);
  background-size: cover;
  background-repeat: repeat-y;
  background-position-y: 60%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 80px;
  grid-template-areas: "header" "main" "footer"; }

main img {
  border: solid 1px black; }

footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  grid-area: footer;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: rgba(15, 15, 15, 0.15);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "newsletter social copyright"; }
  footer .newsletter {
    grid-area: newsletter;
    justify-self: center; }
    footer .newsletter .form-footer {
      width: 100px;
      height: 30px;
      border-radius: 5px 0px 0px 5px;
      border: solid 1px black;
      transition: 0.2s;
      text-indent: 5px; }
      footer .newsletter .form-footer:focus {
        width: 220px; }
    footer .newsletter .send-button-footer {
      text-align: center;
      font-size: 20px;
      cursor: pointer; }
      footer .newsletter .send-button-footer:hover {
        text-shadow: -2px 1px 10px black; }
  footer .social {
    grid-area: social;
    justify-self: center; }
    footer .social ul {
      display: flex;
      list-style: none;
      justify-content: center;
      gap: 50%; }
      footer .social ul a {
        text-decoration: none;
        transform: scale(1);
        transition: all 0.2s; }
        footer .social ul a img:hover {
          transform: scale(1.2);
          filter: invert(90%); }
  footer .copyright {
    grid-area: copyright;
    justify-self: center;
    font-size: 18px; }

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .main section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    .main section article {
      width: 25%;
      display: flex;
      flex-direction: row;
      gap: 35px;
      justify-content: center;
      align-items: center;
      align-content: center; }
  .main .sector1 div {
    justify-content: center;
    align-items: center;
    align-content: center; }
    .main .sector1 div h1 {
      font-family: "Signika", sans-serif;
      font-size: 120px;
      font-weight: bold;
      text-align: center; }
    .main .sector1 div p {
      font-family: "Signika", sans-serif;
      font-size: 30px;
      font-weight: normal; }
  .main .sector1 img {
    height: 450px;
    width: 450px;
    scale: 1;
    transition: all 0.3s ease; }
    .main .sector1 img:hover {
      transform: scale(1);
      border: solid 5px black;
      border-radius: 5px; }
  .main .figure1 {
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto; }
    .main .figure1:hover::after {
      bottom: 5%;
      transform: scale(1); }
    .main .figure1::after {
      content: "Tratamientos";
      position: absolute;
      bottom: 5%;
      left: 25%;
      font-size: 40px;
      font-weight: bold;
      transition: all 0.3s ease;
      transform: scale(0); }

.animadoEntrada {
  animation-name: animacionEntrada;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-fill-mode: backwards; }
  .animadoEntrada:nth-child(1) {
    animation-delay: 0s; }
  .animadoEntrada:nth-child(2) {
    animation-delay: 0.25s; }
  .animadoEntrada:nth-child(3) {
    animation-delay: 0.5s; }
  .animadoEntrada:nth-child(4) {
    animation-delay: 0.75s; }
  .animadoEntrada:nth-child(5) {
    animation-delay: 1s; }
  .animadoEntrada:nth-child(6) {
    animation-delay: 1.25s; }
  .animadoEntrada:nth-child(7) {
    animation-delay: 1.5s; }
  .animadoEntrada:nth-child(8) {
    animation-delay: 1.75s; }
  .animadoEntrada:nth-child(9) {
    animation-delay: 2s;
    animation-duration: 2s; }

.frase {
  animation-delay: 3s;
  animation-duration: 2s;
  animation-name: animacionEntrada;
  animation-fill-mode: backwards; }

@keyframes animacionEntrada {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.figure1 {
  animation-name: entradaImg;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 6s; }

@keyframes entradaImg {
  0% {
    width: 0%;
    height: 0%;
    opacity: 0; }
  50% {
    width: 450px;
    height: 0%;
    opacity: 0; }
  100% {
    width: 450px;
    height: 450px;
    opacity: 1; } }

.sector2 {
  animation-name: entradaS2;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 6s; }

@keyframes entradaS2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.animado {
  animation-name: entradaHF;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-fill-mode: backwards; }

@keyframes entradaHF {
  0% {
    height: 0%;
    opacity: 0; }
  100% {
    height: 100%;
    opacity: 1; } }

.main-quienes-somos {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 100px;
  margin: 5vh 0; }
  .main-quienes-somos section {
    display: flex; }
  .main-quienes-somos .section-quienes-somos {
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .main-quienes-somos .section-quienes-somos div {
      position: relative;
      width: 400px;
      height: 600px;
      background-color: white;
      border-radius: 10px;
      cursor: pointer; }
      .main-quienes-somos .section-quienes-somos div img {
        transition: 0.8s cubic-bezier(0.395, 0.845, 0.38, 1.145);
        border-radius: 10px; }
      .main-quienes-somos .section-quienes-somos div .img1 {
        clip-path: polygon(20% 0, 100% 0, 100% 80%, 20% 0);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: solid 1px black;
        opacity: 0.8; }
        .main-quienes-somos .section-quienes-somos div .img1:hover {
          clip-path: polygon(10% 0, 100% 0, 100% 100%, 20% 100%);
          z-index: 1;
          opacity: 1;
          filter: saturate(120%); }
      .main-quienes-somos .section-quienes-somos div .img2 {
        clip-path: polygon(20% 0, 100% 80%, 100% 100%, 80% 100%, 0 20%, 0 0);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.8; }
        .main-quienes-somos .section-quienes-somos div .img2:hover {
          clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 20% 100%, 0 80%);
          z-index: 1;
          opacity: 1;
          filter: saturate(120%); }
      .main-quienes-somos .section-quienes-somos div .img3 {
        clip-path: polygon(0 20%, 0 20%, 80% 100%, 80% 100%, 0 100%, 0 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.8; }
        .main-quienes-somos .section-quienes-somos div .img3:hover {
          clip-path: polygon(0 0, 80% 0, 80% 0, 90% 100%, 0 100%, 0% 50%);
          z-index: 1;
          opacity: 1;
          filter: saturate(120%); }
    .main-quienes-somos .section-quienes-somos p {
      font-size: 24px;
      text-align: justify;
      width: 600px;
      height: auto; }
  .main-quienes-somos .section-creemos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .main-quienes-somos .section-creemos h3 {
      font-size: 40px;
      font-weight: bold; }
    .main-quienes-somos .section-creemos p {
      width: 1100px;
      font-size: 20px; }
  .main-quienes-somos .section-objetivos {
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: baseline; }
    .main-quienes-somos .section-objetivos div {
      width: 25%;
      justify-content: center;
      align-content: space-around;
      background-color: rgba(255, 255, 255, 0.4);
      padding: 20px;
      border-radius: 10px; }
      .main-quienes-somos .section-objetivos div h4 {
        font-size: 20px;
        font-weight: bold;
        text-align: center; }
      .main-quienes-somos .section-objetivos div p {
        font-size: 20px;
        text-align: justify; }

.main-promo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .main-promo figure:hover {
    box-shadow: 0px 0px 19px 2px rgba(255, 255, 255, 0.75); }
  .main-promo section {
    display: flex; }
  .main-promo .promo-principal {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5%; }
    .main-promo .promo-principal p {
      font-size: 25px;
      font-weight: bold;
      width: 30vw;
      text-align: center; }
    .main-promo .promo-principal img {
      width: auto;
      height: auto; }
  .main-promo .promo-2-3 {
    flex-direction: row;
    justify-content: space-around; }
    .main-promo .promo-2-3 .promo2, .main-promo .promo-2-3 .promo3, .main-promo .promo-2-3 .mercadopago {
      width: auto;
      height: auto;
      position: relative; }
      .main-promo .promo-2-3 .promo2 img, .main-promo .promo-2-3 .promo3 img, .main-promo .promo-2-3 .mercadopago img {
        border-radius: 5px; }
  .main-promo .promo2::after, .main-promo .promo3::after {
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    height: auto;
    width: auto;
    margin: 3px;
    bottom: 5%;
    text-align: center;
    text-shadow: 2px 2px 2px white;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 10px; }
  .main-promo .promo2::after {
    content: "2 x 1 todos los martes pagando en EFECTIVO"; }
  .main-promo .promo3::after {
    content: "Si sos socio del club Los Andes, presentando tu carnet 30% de descuento!"; }

.main-tratamientos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 4px;
  margin: 25px 0px; }
  .main-tratamientos article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 35px; }
    .main-tratamientos article:hover {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 2px; }
    .main-tratamientos article:nth-child(even) {
      flex-direction: row-reverse; }
      .main-tratamientos article:nth-child(even) p {
        text-align: right; }
  .main-tratamientos figure {
    width: 250px;
    height: 190px;
    position: relative; }
    .main-tratamientos figure img {
      position: relative;
      width: 100%;
      height: 100%; }
  .main-tratamientos p {
    width: 650px;
    font-size: 18px;
    text-align: left; }

.tratamiento1:hover::after, .tratamiento2:hover::after, .tratamiento3:hover::after, .tratamiento4:hover::after, .tratamiento5:hover::after, .tratamiento6:hover::after {
  opacity: 1; }

.tratamiento1::after, .tratamiento2::after, .tratamiento3::after, .tratamiento4::after, .tratamiento5::after, .tratamiento6::after {
  content: "Masaje Sueco";
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.2); }

.tratamiento2::after {
  content: "Masaje de piernas"; }

.tratamiento3::after {
  content: "Tratamiento facial"; }

.tratamiento4::after {
  content: "Masaje con piedras calientes"; }

.tratamiento5::after {
  content: "Masaje con mascarilla de barro"; }

.tratamiento6::after {
  content: "Masaje de espalda"; }

.main-contactame {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .main-contactame h2 {
    font-size: 60px;
    font-weight: bold;
    text-align: center; }
  .main-contactame .me-direccion img {
    width: 400px;
    height: 400px; }
  .main-contactame .me-direccion p {
    font-size: 30px;
    font-weight: normal;
    margin-top: 10px; }
  .main-contactame .main-form {
    display: flex;
    gap: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .main-contactame .main-form .input-text {
      font-size: 20px;
      text-indent: 5px;
      width: 500px;
      height: 45px;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 5px;
      text-align: left;
      border: solid 1px black; }
      .main-contactame .main-form .input-text::placeholder {
        font-size: 20px;
        opacity: 0.7;
        text-align: left;
        text-indent: 5px; }
    .main-contactame .main-form .politicas {
      cursor: pointer; }
    .main-contactame .main-form textarea {
      min-height: 200px;
      border-radius: 5px;
      text-align: left;
      border: solid 1px black;
      resize: none; }
    .main-contactame .main-form .send-button {
      border: solid 1px black;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bolder;
      text-align: center;
      padding: 10px;
      width: 200px;
      height: 45px;
      display: block;
      margin-top: 10px; }
      .main-contactame .main-form .send-button:hover {
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 22px;
        border: solid 2px black; }

/* Media para index */
@media screen and (max-width: 1300px) {
  .animadoEntrada, .frase, .animado, .figure1, .sector2 {
    animation: none; }
  header nav ul {
    font-size: 24px; }
  header div {
    margin-left: 0; }
  .main {
    gap: 40px; }
    .main .sector1 {
      flex-direction: column;
      gap: 20px; }
    .main .sector2 {
      flex-direction: column; }
      .main .sector2 article {
        width: 80%; } }

@media screen and (max-width: 1100px) {
  .animadoEntrada, .frase, .animado, .figure1, .sector2 {
    animation: none; }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: space-evenly; }
    header nav ul {
      font-size: 24px;
      width: 100%; }
    header div {
      margin-left: 0; }
  footer .copyright {
    font-size: 14px; }
  .main-quienes-somos .section-quienes-somos {
    flex-direction: column; }
    .main-quienes-somos .section-quienes-somos p {
      font-size: 18px; }
  .main-quienes-somos .section-creemos h3 {
    font-size: 30px;
    font-weight: bold; }
  .main-quienes-somos .section-creemos p {
    width: 800px;
    font-size: 20px; }
  .main-tratamientos {
    margin-top: 40px; }
    .main-tratamientos p {
      width: 500px;
      font-size: 14px; }
    .main-tratamientos figure {
      width: 200px;
      height: auto; }
  .main-promo {
    margin-top: 50px; }
    .main-promo .promo-2-3 {
      flex-direction: column;
      align-items: center; }
  .main-contactame {
    margin-top: 30px; }
    .main-contactame h2 {
      font-size: 40px; } }

@media screen and (max-width: 900px) {
  .animadoEntrada, .frase, .animado, .figure1, .sector2 {
    animation: none; } }

@media screen and (max-width: 450px) {
  .animadoEntrada, .frase, .animado, .figure1, .sector2 {
    animation: none; }
  header {
    display: flex;
    flex-direction: column;
    height: 240px;
    justify-content: space-evenly; }
    header div {
      margin: 0; }
    header nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      gap: 5px; }
  .main {
    margin-top: 110px;
    gap: 20px;
    margin-bottom: 25px; }
    .main .sector1 {
      flex-direction: column; }
      .main .sector1 div {
        width: 90%; }
        .main .sector1 div h1 {
          font-size: 50px; }
        .main .sector1 div p {
          font-size: 16px;
          white-space: normal;
          text-align: center; }
      .main .sector1 img {
        height: 250px;
        width: auto; }
    .main section {
      flex-direction: column;
      gap: 5px; }
      .main section article {
        width: 80%;
        display: flex;
        flex-direction: row;
        gap: 5px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px; }
        .main section article figure {
          height: 122px; }
        .main section article p {
          font-size: 12px; }
  .figure1 {
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto; }
    .figure1::after {
      display: none; }
    .figure1::before {
      content: "Tratamientos";
      position: absolute;
      bottom: 5px;
      left: 25px;
      z-index: 1;
      font-size: 30px;
      font-weight: bold; }
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "social" "copyright"; }
    footer .newsletter {
      display: none; }
    footer .social {
      margin-top: 10px; } }

/* Media para tratamientos */
@media screen and (max-width: 450px) {
  .main-tratamientos {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; }
    .main-tratamientos article {
      display: flex;
      flex-direction: column;
      height: auto;
      border-bottom: 1px solid black;
      gap: 5px; }
      .main-tratamientos article:nth-child(even) {
        flex-direction: column; }
        .main-tratamientos article:nth-child(even) p {
          text-align: justify; }
    .main-tratamientos figure {
      width: 300px; }
    .main-tratamientos p {
      font-size: 14px;
      width: 300px; }
  .tratamiento1::after, .tratamiento2::after, .tratamiento3::after, .tratamiento4::after, .tratamiento5::after, .tratamiento6::after {
    display: none; }
  .tratamiento1::before, .tratamiento2::before, .tratamiento3::before, .tratamiento4::before, .tratamiento5::before, .tratamiento6::before {
    content: "Masaje Sueco";
    z-index: 1;
    position: absolute;
    font-size: 20px;
    top: 2px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px; }
  .tratamiento2::before {
    content: "Masaje de piernas"; }
  .tratamiento3::before {
    content: "Tratamiento facial"; }
  .tratamiento4::before {
    content: "Masaje con piedras calientes"; }
  .tratamiento5::before {
    content: "Masaje con mascarilla de barro"; }
  .tratamiento6::before {
    content: "Masaje de espalda"; } }

/* Media para quienes somos */
@media screen and (max-width: 450px) {
  .main-quienes-somos {
    margin-top: 130px;
    display: flex;
    flex-direction: column; }
    .main-quienes-somos .section-quienes-somos {
      display: flex;
      flex-direction: column;
      gap: 20px; }
      .main-quienes-somos .section-quienes-somos div {
        width: 300px;
        height: 450px; }
      .main-quienes-somos .section-quienes-somos p {
        font-size: 18px;
        width: 300px; }
    .main-quienes-somos .section-creemos {
      gap: 10px; }
      .main-quienes-somos .section-creemos h3 {
        font-size: 24px;
        width: 300px;
        text-align: center; }
      .main-quienes-somos .section-creemos p {
        font-size: 18px;
        width: 300px;
        text-align: justify; }
    .main-quienes-somos .section-objetivos {
      flex-direction: column;
      align-items: center;
      gap: 10px; }
      .main-quienes-somos .section-objetivos div {
        width: 90%; } }

/* Media para promociones */
@media screen and (max-width: 450px) {
  .main-promo {
    margin-top: 140px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 30px; }
    .main-promo .promo-principal {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 90%;
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 5px;
      gap: 15px;
      justify-content: center;
      align-items: center; }
      .main-promo .promo-principal img {
        width: 300px; }
      .main-promo .promo-principal p {
        width: 300px; }
    .main-promo .promo-2-3 {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 5px; }
      .main-promo .promo-2-3 img {
        width: 300px; } }

/* Media para contactame */
@media screen and (max-width: 450px) {
  .main-contactame {
    margin-top: 130px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-contactame h2 {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      width: 320px; }
    .main-contactame .me-direccion {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .main-contactame .me-direccion img {
        width: 300px;
        height: auto; }
      .main-contactame .me-direccion p {
        font-size: 22px; }
    .main-contactame .main-form {
      display: flex;
      gap: 40px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center; }
      .main-contactame .main-form .input-text {
        font-size: 14px;
        width: 300px; }
        .main-contactame .main-form .input-text::placeholder {
          font-size: 14px; }
      .main-contactame .main-form .send-button {
        border: solid 1px black;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        padding: 10px;
        width: 100px;
        height: 45px;
        display: block;
        margin-top: 10px; }
        .main-contactame .main-form .send-button:hover {
          background-color: rgba(0, 0, 0, 0.2);
          font-size: 22px;
          border: solid 2px black; } }
