@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  grid-area: header;
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(15, 15, 15, 0.15); }
  header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
    font-weight: bold;
    font-size: 26px;
    white-space: nowrap;
    margin-right: 10%; }
    header nav ul li a {
      text-decoration: none;
      transition: 0s;
      color: black; }
      header nav ul li a:hover {
        border-bottom: solid 2px black;
        text-shadow: -2px 1px 10px black; }

.active {
  border-bottom: solid 2px black; }

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url(../assets/img/fondo.png);
  background-size: cover;
  background-repeat: repeat-y;
  background-position-y: 60%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 80px;
  grid-template-areas: "header" "main" "footer"; }

main img {
  border: solid 1px black; }

footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  grid-area: footer;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: rgba(15, 15, 15, 0.15);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "newsletter social copyright"; }
  footer .newsletter {
    grid-area: newsletter;
    justify-self: center; }
    footer .newsletter .form-footer {
      width: 100px;
      height: 30px;
      border-radius: 5px 0px 0px 5px;
      border: solid 1px black;
      transition: 0.2s;
      text-indent: 5px; }
      footer .newsletter .form-footer:focus {
        width: 220px; }
    footer .newsletter .send-button-footer {
      text-align: center;
      font-size: 20px;
      cursor: pointer; }
      footer .newsletter .send-button-footer:hover {
        text-shadow: -2px 1px 10px black; }
  footer .social {
    grid-area: social;
    justify-self: center; }
    footer .social ul {
      display: flex;
      list-style: none;
      justify-content: center;
      gap: 50%; }
      footer .social ul a {
        text-decoration: none;
        transform: scale(1);
        transition: all 0.2s; }
        footer .social ul a img:hover {
          transform: scale(1.2);
          filter: invert(90%); }
  footer .copyright {
    grid-area: copyright;
    justify-self: center;
    font-size: 18px; }

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .main section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    .main section article {
      width: 25%;
      display: flex;
      flex-direction: row;
      gap: 35px;
      justify-content: center;
      align-items: center;
      align-content: center; }
  .main .sector1 div {
    justify-content: center;
    align-items: center;
    align-content: center; }
    .main .sector1 div h1 {
      font-family: "Signika", sans-serif;
      font-size: 120px;
      font-weight: bold;
      text-align: center; }
    .main .sector1 div p {
      font-family: "Signika", sans-serif;
      font-size: 30px;
      font-weight: normal; }
  .main .sector1 img {
    height: 450px;
    width: 450px;
    scale: 1;
    transition: all 0.3s ease; }
    .main .sector1 img:hover {
      transform: scale(1);
      border: solid 5px black;
      border-radius: 5px; }
  .main .figure1 {
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto; }
    .main .figure1:hover::after {
      bottom: 5%;
      transform: scale(1); }
    .main .figure1::after {
      content: "Tratamientos";
      position: absolute;
      bottom: 5%;
      left: 25%;
      font-size: 40px;
      font-weight: bold;
      transition: all 0.3s ease;
      transform: scale(0); }

.animadoEntrada {
  animation-name: animacionEntrada;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-fill-mode: backwards; }
  .animadoEntrada:nth-child(1) {
    animation-delay: 0s; }
  .animadoEntrada:nth-child(2) {
    animation-delay: 0.25s; }
  .animadoEntrada:nth-child(3) {
    animation-delay: 0.5s; }
  .animadoEntrada:nth-child(4) {
    animation-delay: 0.75s; }
  .animadoEntrada:nth-child(5) {
    animation-delay: 1s; }
  .animadoEntrada:nth-child(6) {
    animation-delay: 1.25s; }
  .animadoEntrada:nth-child(7) {
    animation-delay: 1.5s; }
  .animadoEntrada:nth-child(8) {
    animation-delay: 1.75s; }
  .animadoEntrada:nth-child(9) {
    animation-delay: 2s;
    animation-duration: 2s; }

.frase {
  animation-delay: 3s;
  animation-duration: 2s;
  animation-name: animacionEntrada;
  animation-fill-mode: backwards; }

@keyframes animacionEntrada {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.figure1 {
  animation-name: entradaImg;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 6s; }

@keyframes entradaImg {
  0% {
    width: 0%;
    height: 0%;
    opacity: 0; }
  50% {
    width: 450px;
    height: 0%;
    opacity: 0; }
  100% {
    width: 450px;
    height: 450px;
    opacity: 1; } }

.sector2 {
  animation-name: entradaS2;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 6s; }

@keyframes entradaS2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.animado {
  animation-name: entradaHF;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-fill-mode: backwards; }

@keyframes entradaHF {
  0% {
    height: 0%;
    opacity: 0; }
  100% {
    height: 100%;
    opacity: 1; } }

.main-quienes-somos {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 50px;
  margin: 5vh 0; }
  .main-quienes-somos section {
    display: flex; }
  .main-quienes-somos .section-quienes-somos {
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .main-quienes-somos .section-quienes-somos div {
      position: relative;
      width: 400px;
      height: 600px;
      background-color: white;
      border-radius: 10px; }
      .main-quienes-somos .section-quienes-somos div img {
        transition: 0.8s cubic-bezier(0.395, 0.845, 0.38, 1.145);
        border-radius: 10px; }
      .main-quienes-somos .section-quienes-somos div .img1 {
        clip-path: polygon(20% 0, 100% 0, 100% 80%, 20% 0);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: solid 1px black;
        opacity: 0.8; }
        .main-quienes-somos .section-quienes-somos div .img1:hover {
          clip-path: polygon(10% 0, 100% 0, 100% 100%, 20% 100%);
          z-index: 1;
          opacity: 1;
          filter: saturate(120%); }
      .main-quienes-somos .section-quienes-somos div .img2 {
        clip-path: polygon(20% 0, 100% 80%, 100% 100%, 80% 100%, 0 20%, 0 0);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.8; }
        .main-quienes-somos .section-quienes-somos div .img2:hover {
          clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 20% 100%, 0 80%);
          z-index: 1;
          opacity: 1;
          filter: saturate(120%); }
      .main-quienes-somos .section-quienes-somos div .img3 {
        clip-path: polygon(0 20%, 0 20%, 80% 100%, 80% 100%, 0 100%, 0 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.8; }
        .main-quienes-somos .section-quienes-somos div .img3:hover {
          clip-path: polygon(0 0, 80% 0, 80% 0, 90% 100%, 0 100%, 0% 50%);
          z-index: 1;
          opacity: 1;
          filter: saturate(120%); }
    .main-quienes-somos .section-quienes-somos p {
      font-size: 24px;
      text-align: justify;
      width: 600px;
      height: auto; }
  .main-quienes-somos .section-creemos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .main-quienes-somos .section-creemos h3 {
      font-size: 40px;
      font-weight: bold; }
    .main-quienes-somos .section-creemos p {
      width: 1100px;
      font-size: 20px; }
  .main-quienes-somos .section-objetivos {
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center; }
    .main-quienes-somos .section-objetivos div {
      width: 20%;
      justify-content: center;
      align-content: space-around; }
      .main-quienes-somos .section-objetivos div h4 {
        font-size: 20px;
        font-weight: bold;
        text-align: center; }
      .main-quienes-somos .section-objetivos div p {
        font-size: 20px;
        text-align: justify; }

.main-promo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .main-promo section {
    display: flex; }
  .main-promo .promo-principal {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5%; }
    .main-promo .promo-principal p {
      font-size: 25px;
      font-weight: bold;
      width: 30vw;
      text-align: center; }
    .main-promo .promo-principal img {
      width: auto;
      height: auto; }
  .main-promo .promo-2-3 {
    flex-direction: row;
    justify-content: space-around; }
    .main-promo .promo-2-3 .promo2, .main-promo .promo-2-3 .promo3, .main-promo .promo-2-3 .mercadopago {
      width: auto;
      height: auto;
      position: relative; }
      .main-promo .promo-2-3 .promo2 img, .main-promo .promo-2-3 .promo3 img, .main-promo .promo-2-3 .mercadopago img {
        border-radius: 5px; }
  .main-promo .promo2::after, .main-promo .promo3::after {
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    height: auto;
    width: auto;
    margin: 3px;
    bottom: 5%;
    text-align: center;
    text-shadow: 2px 2px 2px white;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 10px; }
  .main-promo .promo2::after {
    content: "2 x 1 todos los martes pagando en EFECTIVO"; }
  .main-promo .promo3::after {
    content: "Si sos socio del club Los Andes, presentando tu carnet 30% de descuento!"; }

.main-tratamientos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 4px;
  margin: 25px 0px; }
  .main-tratamientos article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 35px; }
    .main-tratamientos article:hover {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 2px; }
    .main-tratamientos article:nth-child(even) {
      flex-direction: row-reverse; }
  .main-tratamientos figure {
    width: 250px;
    height: 184px; }
    .main-tratamientos figure img {
      width: 100%;
      height: 100%; }
  .main-tratamientos p {
    width: 650px;
    font-size: 18px;
    text-align: left; }

.main-contactame {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .main-contactame h2 {
    font-size: 60px;
    font-weight: bold;
    text-align: center; }
  .main-contactame .me-direccion img {
    width: auto;
    height: auto; }
  .main-contactame .me-direccion p {
    font-size: 30px;
    font-weight: normal;
    margin-top: 10px; }
  .main-contactame .main-form {
    display: flex;
    gap: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .main-contactame .main-form .input-text {
      font-size: 20px;
      text-indent: 5px;
      width: 500px;
      height: 45px;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 5px;
      text-align: left;
      border: solid 1px black; }
      .main-contactame .main-form .input-text::placeholder {
        font-size: 20px;
        opacity: 0.7;
        text-align: left;
        text-indent: 5px; }
    .main-contactame .main-form .politicas {
      cursor: pointer; }
    .main-contactame .main-form textarea {
      min-height: 200px;
      border-radius: 5px;
      text-align: left;
      border: solid 1px black;
      resize: none; }
    .main-contactame .main-form .send-button {
      border: solid 1px black;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bolder;
      text-align: center;
      padding: 10px;
      width: 200px;
      height: 45px;
      display: block;
      margin-top: 10px; }
      .main-contactame .main-form .send-button:hover {
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 22px;
        border: solid 2px black; }

/* Media para index */
@media screen and (max-width: 1300px) {
  .animadoEntrada {
    animation: none; }
  header img {
    transform: scale(0.75); }
  header nav ul {
    padding: 5px;
    gap: 10px;
    margin-right: 10px;
    font-size: 16px; }
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "social copyright"; }
    .footer .social ul {
      width: 200px; }
      .footer .social ul li {
        transform: scale(0.75); }
    .footer .newsletter {
      display: none; }
  .main .figure1 {
    transform: scale(0.6); }
  .main .sector1 h1 {
    text-align: center; }
  .main .sector1 p {
    font-size: 20px;
    font-weight: normal;
    text-align: center; }
  .main .sector2 {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    gap: 30px; }
    .main .sector2 article {
      width: 70%; }
    .main .sector2 .art-fig {
      width: 100px;
      height: 100px;
      display: block; }
    .main .sector2 .art-text {
      font-size: 12px; } }

@media screen and (max-width: 900px) {
  .animadoEntrada {
    animation: none; }
  header {
    flex-wrap: wrap;
    justify-content: center;
    height: 140px;
    padding-bottom: 10px; }
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "social" "copyright"; }
    .footer .social ul {
      width: 200px; }
      .footer .social ul li {
        transform: scale(0.75); }
    .footer .newsletter {
      display: none; }
  .main .sector1 h1 {
    text-align: center; }
  .main .sector1 p {
    font-size: 20px;
    font-weight: normal;
    text-align: center; }
  .main .sector1 .figure1 {
    transform: scale(0.6); }
  .main .sector2 {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    gap: 30px; }
    .main .sector2 article {
      width: 70%; }
    .main .sector2 .art-fig {
      width: 100px;
      height: 100px;
      display: block; }
    .main .sector2 .art-text {
      font-size: 12px; } }

@media screen and (max-width: 600px) {
  .animadoEntrada {
    animation: none; }
  header {
    justify-content: start;
    flex-wrap: nowrap; }
    header img {
      transform: scale(1); }
    header nav ul {
      flex-direction: column;
      padding: 5px;
      gap: 10px;
      margin-right: 10px;
      font-size: 16px; }
    header .active {
      border: none; }
  .main .sector1 {
    flex-direction: column;
    gap: 20px; }
    .main .sector1 h1 {
      margin-top: 20px; }
    .main .sector1 p {
      margin-bottom: 10px; } }

/* Media para tratamientos */
@media screen and (max-width: 1300px) {
  .main-tratamientos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 4px;
    margin: 8px 0px; }
    .main-tratamientos figure img {
      width: 150px;
      height: auto; }
    .main-tratamientos article p {
      width: 650px;
      font-size: 14px;
      text-align: left; } }

@media screen and (max-width: 900px) {
  .main-tratamientos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: stretch;
    gap: 4px;
    margin-top: 35px; }
    .main-tratamientos figure img {
      width: 150px;
      height: auto; }
    .main-tratamientos article {
      align-items: flex-start; }
      .main-tratamientos article p {
        height: 150px;
        width: 650px;
        font-size: 12px;
        text-align: left; } }

@media screen and (max-width: 600px) {
  .main-tratamientos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: stretch;
    gap: 4px;
    margin-top: 35px; }
    .main-tratamientos figure img {
      width: 300px;
      height: auto; }
    .main-tratamientos article {
      flex-direction: column;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center; }
      .main-tratamientos article p {
        height: 150px;
        width: 650px;
        font-size: 14px;
        text-align: center; } }
