body{
    background-image:url(../assets/img/fondo.png);
    background-size: cover;
    background-repeat:repeat-y;
    background-position-y: 50%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 80px;
    grid-template-areas: 
    
    "header"
    "main"
    "footer";
}

main img{
    border: solid 1px black;
}

.main { 
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    section article {
    width: 25%;
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: flex-start;
    align-content: center;
    justify-items: center;
    }

    h1 {
            font-size: 80px;
            font-weight: bold;
        }

    p.slogan {
            font-size: 24px;
            font-weight: normal;
        }

        .sector1 img{
            height: 450px;
            width: 450px;
            scale: (1);
            transition: all 0.3s ease;

            &:hover{
                transform: scale(1);
                border: solid 5px black;
                border-radius: 5px;
            }
        }

        .figure1{
            position: relative;
            overflow: hidden;
            width: auto;
            height: auto;

            &:hover::after{
                bottom: 5%;
                transform: scale(1);
            }
        
            &::after{
            content: "Tratamientos";
            position: absolute;
            bottom: 5%;
            left: 25%;
            font-size: 40px;
            font-weight: bold;
            transition: all 0.3s ease;
            transform: scale(0);
            }
        }
}

.main-tratamientos{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 4px;
    margin: 25px 0px;

    article {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 35px;

        &:nth-child(even){
            flex-direction: row-reverse;
        }        
        }

    figure img{
        width: 250px;
        height: 180px;
    }

    p{
        width: 650px;
        font-size: 18px;
        text-align: left;
    }
}





/* final css main-tratamientos */

/* inicio css main-quienes somos */

.main-quienes-somos{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.section-quienes-somos{
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 5%;
}

.img-nosotros{
    width: 400px;
    height: 300px;
    border-radius: 40px 5px 40px 5px;
}

.desc-nosotros{
    font-size: 40px;
    text-align: justify;
    width: 600px;
    height: auto;
}

.text-creemos{
    flex-direction: column;
}

.text-creemos h3{
    font-size: 40px;
    font-weight: bold;
}

.text-creemos p{
    width: 1100px;
    font-size: 20px;
}

.objetivos div{
    width: 250px;
}
.objetivos h4 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.objetivos p{
    font-size: 20px;
    text-align: justify;
}

/* final css main-quienes-somos */

/* inicio css main-promo */

.main-promo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.promo1{
    justify-content: center;
    gap: 5%;
}

.promo1 p{
    font-size: 25px;
    font-weight: bold;
    width: 540px;
    text-align: center;
}

.promo2, .promo3, .mercadopago{
    width: auto;
    height: auto;
    position: relative;
}

.promo2::after{
    content: "2 x 1 todos los martes pagando en EFECTIVO";
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    height: auto;
    width: auto;   
    margin: 3px; 
    bottom: 5%;
    left: 50%;
    text-align: center; 
    text-shadow: 2px 2px 2px white;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 10px;
}

.promo3::after{
    content: "Si sos socio del club Los Andes, presentando tu carnet 30% de descuento!";
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    height: auto;
    width: auto;   
    margin: 3px; 
    bottom: 5%;
    text-align: center; 
    text-shadow: 2px 2px 2px white;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 10px;
}

.promo2 img, .promo3 img {
    border-radius: 5px;
}

/* final css main-promo */

/* inicio css main-contactame */


.main-contactame{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-contactame h2{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.me-direccion{
    width: 400px;
    height: 512px;
}

.me-direccion p{
    font-size: 30px;
    font-weight:normal;
    margin-top: 10px;
}

.main-form{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.input-text{
    font-size: 20px;
    text-indent: 5px;
    width: 500px;
    height: 45px;
    padding: 5px;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: left;
    border: solid 1px black;
}

.main-form textarea{
    min-height: 200px;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: left;
    border: solid 1px black;
    resize: none;
}
.send-button{
    border: solid 1px black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    width: 200px;
    height: 45px;
    display: block;
    margin-top: 10px;
}

.send-button:hover{
    background-color: rgb(170, 238, 170);
    font-size: 22px;
    border: solid 2px black;
}

.input-text::placeholder{
    font-size: 20px;
    opacity: 0.7;
    text-align:left;
    text-indent: 5px;
}