body{
    font-family: $primaryFont;
    background-image:url(../assets/img/fondo.png);
    background-size: cover;
    background-repeat:repeat-y;
    background-position-y: 60%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 80px;
    grid-template-areas: 
    
    "header"
    "main"
    "footer";
}

main img{
    border: solid 1px black;
}